<div class="flex-row flex-center">
  <div class="flex-column flex-grow-1">
    <h1 class="info-dialog__header">
      {{ infoDialogData.header }}
    </h1>

    <div class="info-dialog__message"
         *ngFor="let message of infoDialogData.messages">
      {{ message }}
    </div>

    <div class="info-dialog__confirm-button-container flex-row align-flex-end flex-grow-1">
      <button mat-stroked-button
              mat-dialog-close
              color="warn">
        {{LabelConstants.I_UNDERSTOOD}}
      </button>
    </div>
  </div>
</div>
