<div class="flex-row">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let tab of tabs">
      <ng-template mat-tab-label>
        <div class="control-panel__tab"
             (click)="openTab(tab.routerLink)">
          <mat-icon>
            {{ tab.iconName }}
          </mat-icon>
          <div>
            {{ tab.label | t }}
          </div>
        </div>
      </ng-template>
      <div class="control-panel__tab-placeholder"></div>
    </mat-tab>
  </mat-tab-group>

  <div class="flex-grow"></div>

  <div class="flex-column flex-center">
    <div class="flex-row flex-no-shrink">
      <button type="button"
              mat-raised-button
              color="primary"
              class="control-panel__sign-button"
              *ngIf="!(user$ | async)"
              (click)="openSignIn()">
        {{ TranslationKeysConstants.SIGN_IN | t }}
      </button>
      <button type="button"
              mat-raised-button
              color="primary"
              class="control-panel__sign-button"
              *ngIf="!(user$ | async)"
              (click)="openSignUp()">
        {{ TranslationKeysConstants.SIGN_UP | t }}
      </button>
      <button type="button"
              mat-raised-button
              color="primary"
              class="control-panel__sign-button"
              *ngIf="user$ | async"
              (click)="signOut()">
        {{ TranslationKeysConstants.SIGN_OUT | t }}
      </button>
    </div>
  </div>
</div>
