<mat-card>
  <mat-card-header>
    {{ TranslationsKeys.SIGN_UP | t }}
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <input [formControl]="firstNameControl"
             matInput
             [placeholder]="TranslationsKeys.FIRST_NAME | t">
    </mat-form-field>

    <mat-form-field>
      <input [formControl]="lastNameControl"
             matInput
             [placeholder]="TranslationsKeys.LAST_NAME | t">
    </mat-form-field>

    <mat-form-field>
      <input [formControl]="loginControl"
      matInput
      [placeholder]="TranslationsKeys.LOGIN | t">
    </mat-form-field>

    <mat-form-field>
      <input [formControl]="passwordControl"
      matInput
      [placeholder]="TranslationsKeys.PASSWORD | t">
    </mat-form-field>

  </mat-card-content>
</mat-card>
